[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.MyNotify
Exec=/usr/bin/ru.auroraos.MyNotify
Name=MyNotify
Name[ru]=Уведомление

[X-Application]
Permissions=PushNotifications
OrganizationName=ru.auroraos
ApplicationName=MyNotify
ExecDBus=/usr/bin/ru.auroraos.MyNotify
